#
# %mysql-linux.yml
#

name: MySQL Linux ODBC


on:
  push:
    branches:
      - mysql
  pull_request:
    branches:
      - mysql
  workflow_dispatch:  # Allows running this workflow manually from Actions tab


jobs:
  mysql-linux-odbc:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        DRIVER_VARIANT: [mysql, mariadb]

    env:
      DRIVER_VARIANT: ${{ matrix.DRIVER_VARIANT }}

    steps:

  #====# ACCELERATE APT INSTALL STEPS #=======================================#

    - name: Divert mandb to No-Op (speeds up apt significantly)
      run: |
        sudo dpkg-divert --local --rename --add /usr/bin/mandb
        echo -e '#!/bin/sh\nexit 0' | sudo tee /usr/bin/mandb > /dev/null
        sudo chmod +x /usr/bin/mandb


  #====# CHECKOUT STEPS #=====================================================#

    # https://github.com/actions/checkout
    #
    # See README: Checkout Action
    #
    - uses: actions/checkout@v3  # See README: Trusted Actions


  #====# MYSQL INSTALLATION #=================================================#

    # GitHub Actions has a "Services" Method for Configuring mysql, e.g.
    #
    #     mysql:
    #       image: mysql:8.0
    #       env:
    #         MYSQL_ROOT_PASSWORD: password
    #         MYSQL_DATABASE: test
    #
    # ...etc.  We don't use this method of configuring MySQL and making tables
    # as that is harder to copy/paste as equivalent in a local console.

    - name: Install MySQL
      run: |
        mysql -V
        sudo service mysql start


    - name: Start MySQL Server Daemon
      run: |
        sudo service mysql start
        while !(sudo mysqladmin --password=root ping)
        do
          sleep 3
          echo "waiting for mysql ..."
        done


  #====# MYSQL-ODBC INSTALLATION #============================================#

    - name: Install ODBC
      run: |
        sudo apt install -y unixodbc libodbc2 odbcinst


    # On most modern Debian/Ubuntu systems, there is no official MySQL ODBC
    # driver package (like mysql-connector-odbc) in the default repositories.
    # There are .deb packages available from MySQL.
    #
    - name: Install MySQL ODBC Driver From Debian Package
      if: env.DRIVER_VARIANT == 'mysql'
      run: |
        wget --quiet https://dev.mysql.com/get/Downloads/Connector-ODBC/9.1/mysql-connector-odbc_9.1.0-1ubuntu24.04_amd64.deb

        sudo dpkg -i mysql-connector-odbc_9.1.0-1ubuntu24.04_amd64.deb
        sudo apt-get install -f -y  # To fix any missing dependencies

        echo "MYODBC_DRIVER_SPEC=/usr/lib/x86_64-linux-gnu/odbc/libmyodbc9w.so" >> $GITHUB_ENV


    # The MariaDB ODBC driver is an alternative to the MySQL one, and can
    # often be used as a drop-in replacement.  It is available in the default
    # Ubuntu repositories.
    #
    # Note that `mariadb-connector-odbc` is not the Debian package, but is
    # direct from MariaDB if you want the latest version.
    #
    - name: Install MariaDB ODBC Driver (for that matrix)
      if: env.DRIVER_VARIANT == 'mariadb'
      run: |
        sudo apt install -y odbc-mariadb

        echo "MYODBC_DRIVER_SPEC=/usr/lib/x86_64-linux-gnu/odbc/libmaodbc.so" >> $GITHUB_ENV


    # ODBC does not like letting you use the root account w/no password as
    # a data source.  Make account `test` with password `test-password` and
    # give it access to the database.
    #
    # Note: GitHub CI sets the MySQL root account up with a password, but this
    # wasn't true on Travis...and might not be true on all systems.  Keep the
    # test account creation in case some cases need it.
    #
    - name: Grant Privileges To Test Account
      run: |
        # MySQL Requires CREATE USER and GRANT PRIVILEGES as separate steps
        #
        echo "CREATE USER 'test'@'localhost' IDENTIFIED BY 'test-password';" | sudo mysql --password=root --host=127.0.0.1
        echo "GRANT ALL PRIVILEGES ON *.* TO 'test'@'localhost';" | sudo mysql --password=root --host=127.0.0.1


    # The "DSN" identifying the database is "Rebol", a label stored in the
    # unixodbc %/usr/local/etc/odbc.ini (or similar).  But the actual name
    # of the MySQL database mapped to there is `test`.
    #
    # Use the test account with the test password to do this as a sanity
    # check that the privileges are granted.
    #
    - name: Create Test Database
      run: |
        echo "CREATE DATABASE test" | mysql --host=127.0.0.1 --user=test --password=test-password


    # Register that DSN.  The `odbc://rebol-mysql` syntax for naming a DSN
    # is Rebol-specific, typically it would just be `Rebol` in a context
    # that knows a DSN is supposed to be in that position.
    #
    # We don't set the UID or PWD here on Linux even though it is allowed,
    # because Windows does not allow it.  It must be in the connection string.
    #
    # NOTE: if you have problems with `localhost` saying can't connect with
    # socket /tmp/mysql.sock, and you are sure the mysql daemon is running,
    # then on some Linux installations using `127.0.0.1` instead can help
    # force not to go through a socket.  That doesn't solve the problem if
    # you actually want to talk to a database over a network, but is good
    # enough for this test (and other purposes).
    #
    - name: Register DSN
      run: |
        echo "[rebol-mysql]
        Description=MySQL ODBC DSN
        Driver=${MYODBC_DRIVER_SPEC}
        SERVER=localhost
        DATABASE=test
        " | sudo tee -a /etc/odbc.ini


  #====# SANITY CHECK ODBC #=================================================#

    - name: Sanity Check ODBC
      run: |
        bash -e tools/sanity-check-odbc.sh


  #====# INSTALL R3 INTERPRETER #=============================================#

    - name: Download and Cache the Interpreter
      uses: metaeducation/ren-c-action@release
      with:
        checked: true


  #====# TEST STEPS #==========================================================#

    # The tests are designed to call QUIT and return 1 status on failure, with
    # 0 returned on success.

    # For starters, this is a basic insert and retrieve test of Rebol values.
    # The goal is to store Rebol values into column types that can hold them,
    # and then read the same value back out after writing it.
    #
    # This runs against the DSNs of the MySQL database created above.
    # the process above.
    #
    - name: ODBC MySQL Insert And Retrieve Test
      run: |
        r3 tests/odbc-test.r rebol-mysql --mysql


    - name: ODBC Test Without Closing Connection
      run: |
        r3 tests/odbc-test.r rebol-mysql --mysql --leave-connected
